{% extends "main/home.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Bikers Den</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% block contactactive %}  {% endblock contactactive %} ">
                <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/bookings">Booking History</a>
            </li>
               {% if request.user|check_booking_status %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'main:drop_bicycle'  %}?id={{request.user|booking_id}}">Drop Bicycle</a>
            </li> 
            {% endif %}
                 {% endif %} 
        </ul>
    </div>
    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="btn btn-outline-success m-2 my-sm-0" href="/logout">Logout as {{user.username}} </a>
    </li>
    {% endif %}
    </div>
</nav>
<div id="app">
    <div class="container">
        <form method="POST" action="{% url 'main:drop_bicycle' %}?id={{instance.id}}">
            {% csrf_token %}
            {% comment %} <div>
                <h5>{{instance.name}}</h5></br>
            </div> {% endcomment %}
            <div class="row mt-5 pt-5">
                <div class="col-md-6">
                    <label>Booking Post Code</label>
                    <input class="form-control" readonly value="{{instance.booking_postcode}}" type="text" required>
                </div>
                <div class="col-md-6">
                    <label>Paid Charges</label>
                    <input class="form-control" readonly type="text" value="120 rupees/day" required>
                </div>
                <div class="col-md-6">
                    <label>Booking From</label>
                    <input class="form-control" readonly type="text" value="{{instance.booking_from}}" required>
                </div>
                <div class="col-md-6">
                    <label>Drop station</label>
                    <select class="form-control" v-model="mile_radius" required name="booking_to">
                        {% for data in address %}
                        {% if data == instance.booking_to %}
                        <option selected>{{data}}</option>
                        {% else %}
                          <option >{{data}}</option>
                          {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6">
                    <label>Booking DateTime</label>
                    <input class="form-control" type="text" readonly value="{{instance.booking_date}}" name="postalcode" placeholder="Enter Posctode" required>
                </div>
                <div class="col-md-6">
                    <label>Check out Time(current) </label>
                    <input class="form-control" type="text" readonly value="{{now}}" name="leave_time" required>
                </div>
                <div class="col-md-6">
                    <label>Bicycle</label>
                    <input class="form-control" type="text" readonly value="{{instance.bicycle}}" placeholder="name" required>
                </div>
          
                <input type="hidden" name="station_id" value="{{instance.id}}">
                <div class="col-md-6" style="margin-left: 72px;"> 
                    <button class="btn btn-primary mt-4" style="float: right;">Drop Here</button>
                </div>
                
            </div>
        </form>
    </div>
</div>
{% endblock %}